@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-family: "Space Grotesk", sans-serif;
}

a {
	color: currentColor;
	text-decoration: none;
}
ul {
	list-style-type: none;
	display: flex;
  }

ul, ol {
	list-style: none;
}

li {
	padding: 1rem;
  }

img {
	width: 100%;
	display: block;
}

p {
	padding: 1.5rem;
}

strong{
	padding: 1.5rem;
}

h5 {
	font-size: 30px;
	padding: 1.5rem;
}

h1 {
	padding-top: 9rem;
}

/* CONTAINER & LAYOUT*/
.container-full {
	max-width: 100%;
	margin: 0 auto;
	padding: 2 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 2 2rem;
}

.container-small {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 2rem;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.col-100 {
	width: 100%;
}

.col-70 {
	width: 70%;
}

.col-30 {
	width: 30%
}

.col-50 {
	width: 50%;
}

.col-33 {
	width: calc(100% / 3);
}


/* NAVBAR */
.navbar {
	background-color: #ffffff;
	height: 4rem;
}


.menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
/* HERO */
.hero-title {
	text-align: center;
	font-size: 54px;
}

.hero {
	background-color: #b4d0e6;
}

/*  Other / utilities */

.btn {
	width:4.4rem;
	height: 1.8rem;
	cursor: pointer;
	padding: 0.5rem;
	border:none;
}

.btn-wide {
	width: 15rem;
	height: 2.5rem;
}

.btn.btn-blue {
	background-color: #0160ff;
	color: #ffffff;
}

.btn.btn-blue {
	background-color: #0160ff;
	color: #ffffff;
	border:black;
}

.icon-style {
	font-size: 1rem;
	padding: 1rem;
}

.form-style{
	padding: 3rem;
}

.text-center{
	text-align: center;
}

.icon-size{
	font-size: 4rem;
	padding: 1rem;
}

.check-style {
	color: #0160ff;
	font-size: 1rem;
	padding: 0.5rem;
}

.border-grey {
	border-style: solid;
	border-color: #ededed;
	border-width: 0.5px;
}